*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/media
idea/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
### Django ###
*.log
*.pot
*.pyc
__pycache__/



# Clever link to deployed application
.clever.json
*.pyc
*.db
*~
.*

/site/
/htmlcov/
/coverage/
/build/
/dist/
/*.egg-info/
/env/
MANIFEST
coverage.*

!.gitignore
!.travis.yml
!.isort.cfg
*.py[cod]
.DS_Store
__pycache__/
*.py[cod]
*$py.class
